
.customer_stories{
    padding: 20px 40px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhblV0WiTW9WdjNqobarQVlw-TwuYasoFviA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}


.customer_story{
    margin: 0px 40px;
}
.customer_story .quote{
    max-width: 20px;
    position: relative;
    bottom: -15px;
    display: block;
    left:20px;
    z-index: 2;
}
.customer_content{
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.8;
    padding: 20px;
    box-shadow: 2px 2px 5px 0px #5a5959;
}

.customer_info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -50px;
    z-index: 3;
}

.customer_name h4{
    text-align: center;
    font-size: 17px;
}
.customer_name p {
    text-align: center;
    color: #333;
}
.customer_img{
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width:750px){
    .customer_stories{
        padding: 0px 0px;
    }   
    .customer_content p {
        font-size: 15px;
    } 
    .customer_story{
        margin: 0px 10px;
    } 
}