.card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  place-items: center;
  gap: 10px;
}

.card_wrapper {
  position: relative;
  display: block;
  padding: 10px;
  width: 280px;
  /* height: 430px; */
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card_wrapper:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.card_header {
  height: 200px;
}

.card_header img {
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_header .disccount {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 5px;
  background-color: rgb(17, 169, 220);
  color: #fff;
  border-right: 7px solid #fff;
  border-right-style: double;
  z-index: 1;
}

.card_main_top h4 {
  text-transform: uppercase;
  font-size: 14.2px;
  color: #333;
}

.card_main_top h5 {
  margin-bottom: 5px;
  font-size: 15px;
  color: #333;
}

.card_main_top h5 span {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  text-transform: uppercase;

}

.card_main_middle {
  display: flex;
  align-items: center;
  background-color: rgb(222, 246, 255);
  padding: 5px;
}

.card_main_middle div {
  flex: 1 0 50%;
  border-right: 2px dashed #ccc;
}

.card_main_middle h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 50%;
  color: rgb(6, 145, 176);
}

.card_main_middle div h4 span {
  text-decoration: line-through;
}
/* .......................................item_added......... */
.item_added{
  margin-top: 5px;
  color:rgb(6, 145, 176);
  transition: all 0.3s ease;
}
.card_footer {
  padding: 2px 0px;
}

.card_footer h4 {
  padding: 5px 0px;
  font-size: 14px;

}

.card_footer h4 span {
  border-left: 1.5px dashed #ccc;
  color: #555;
  font-weight: 520;
  margin-left: 10px;
  padding-left: 10px;
}

.footer_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_footer_btn {
  margin-top: 5px;
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 1px 2px 0px #ccc;
  border-radius: 5px;
}

.card_footer_btn input {
  width: 70%;
  border: 0;
  outline: 0px;
  margin-left: 10px;
}

.minus_btn {
  font-size: 20px;
  padding: 0px 8px;
  border: 0px;
  cursor: pointer;
  background-color: rgb(222, 246, 255);
  color: rgb(17, 169, 220);
  border-radius: 5px 0px 0px 5px;
}

.plus_btn {
  font-size: 20px;
  padding: 0px 8px;
  border: 0px;
  cursor: pointer;
  background-color: rgb(17, 169, 220);
  color: rgb(222, 246, 255);
  border-radius: 0px 5px 5px 0px;
}

.add_to_cart_btn {
  display: block;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 550;
  background-color: rgb(17, 169, 220);
  color: #fff;
  text-transform: uppercase;
}

.btn_disabled {
  cursor: not-allowed;
}

@media (max-width:630px) {
  .card {
    padding: 20px 5px 5px 5px;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: 1fr;
  }

  .card_wrapper {
    padding: 2px;
    border: none;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    border-radius: 0px;
  }

  .card_wrapper:hover{
    box-shadow: none;
    transform: translate(0);
  }
  .card_mobile {
    display: flex;
    justify-content: center;
  }

  .card_header {
    flex: 1 1 40%;
  }

  .card_main {
    flex: 1 1 60%;
  }

  .card_header {
    position: relative;
    height: 130px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0px;
  }

  .card_header img {
    padding: 2%;
  }

  .card_header .disccount {
    top: 0px;
    font-size: 12px;
    border-radius:10px 0px 0px 0px ;
  }

  .card_main_top h5 {
    margin-top: 5px;
  }

  .card_main_middle {
    margin-top: 10px;
  }

  .card_main_middle div h4 {
    font-size: 14px;
  }

  .card_main_middle div p {
    font-size: 12px;
  }

  .card_footer {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card_footer h4 {
    display: none;
  }

  .footer_middle p {
    display: none;
  }



  .footer_middle {
    flex-basis: 50%;
    /* border: 2px solid rgb(53, 48, 48); */

  }

  .card_footer_btn {
    margin: 0%;
    margin-right: 10px;
  }

  .card_footer_btn input {
    width: 60px;
  }

  .plus_btn,
  .minus_btn {
    padding: 4px 12px;
  }

  .add_to_cart_btn {
    margin: 5px 0px;
    padding: 7px
  }
}

