.signup {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.signup h2 {
    color: var(--main-color);
}

.signup form {
    padding: 20px;
    box-shadow: 2px 2px 5px 0px #ccc;
    border-radius: 10px;
}

.form-group {
    padding: 10px;
}

.form-group input {
    padding: 10px 50px 10px 10px;
    outline: 0px;
}

.signup button {
    margin-top: 7px;
    width: 93%;
    padding: 10px;
    background-color: var(--main-color);
    border: 0px;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
}


.change_form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change_form p {
    font-size: 14px;
    color: #777;
}

.change_form a {
    margin-left: 5px;
    color: rgba(35, 83, 241, 0.735);
    text-decoration: underline;
}

.forgetpass {
    display: inline-block;
    color: #777;
    font-size: 15px;
    margin-top: 10px;
}


.with_google {
    margin: 20px 5px 10px 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius:20px;
    cursor: pointer;
}

.with_google p{
    margin-left: 10px;
}